<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="decomiso">
    <div class="header">
        <h1>Ingreso Hoja de Coca por DECOMISO</h1>
    </div>
    <form method="post" th:action="@{/auth/saveDecomiso}" th:object="${decomiso}">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label > Número de Movimiento </label>
                    <input th:value="${num_Movimiento}" class="form-control" type="text" readonly>
                </div>
                <div class="col-md-2">
                    <label > FECHA</label>
                    <input th:value="${#dates.format(fc,'dd/MM/yyyy')}" class="form-control" type="text"  readonly>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label > NOMBRE DE UNIDAD</label>
                    <input id="formUnidadOpe" class="form-control" type="text" placeholder="Buscar Unidad" autocomplete="off" >
                </div>
                <div class="col-md-4">
                    <label > OFICINA(Unidad Operativa): </label>
                    <select class="form-control" th:field="*{cod_uniOpe}" id="selectUnidadOpe" >
                        <option value="0">
                            <span> Seleccionar...</span>
                        </option>
                        <option  th:each="unidadesOpe : ${unidadesOpe}" th:value="${unidadesOpe.cod_uniOpe}">
                            <span th:text="${unidadesOpe.cod_uniOpe}"></span>---<span th:text="${unidadesOpe .nom_uniOpe}"></span>
                        </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Direccion de oficina:</label>
                    <div id="direccionUni">
                        <input  type="search" class="form-control" placeholder="" readonly/>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-5">
                    <label > Lugar de Operativo</label>
                    <input class="form-control" type="text" placeholder="Lugar de Operativo" autocomplete="off"th:field="*{lugarOperativo}">
                </div>
                <div class="col-md-5">
                    <label > Lugar de Decomiso</label>
                    <input class="form-control" type="text" placeholder="Lugar de Decomiso" autocomplete="off" th:field="*{lugarDecomiso}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-5">
                    <label > Decomisante</label>
                    <input class="form-control" type="text" placeholder="Ingresar Nombre" autocomplete="off"th:field="*{decomisante}">
                </div>
                <div class="col-md-5">
                    <label > Doc. Referencia</label>
                    <input class="form-control" type="text" placeholder="Ingresar número de documento" autocomplete="off"th:field="*{docReferencia}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-5">
                    <label> Comentario</label>
                    <textarea  class="form-control" rows="3" th:field="*{comentario}">
                    </textarea>
                </div>
                <div class="col-md-3">
                    <label >FILTRAR TIPO HOJA DE COCA: </label>
                    <select class="form-control" id="TipoHc" th:field="*{cod_tipoHoja}">
                        <option value="0">
                            Seleccionar...
                        </option>
                        <option  th:each="tiposHc : ${tiposHc}" th:value="${tiposHc.cod_tipoHoja}">
                            <span th:text="${tiposHc.cod_tipoHoja}"></span>---<span th:text="${tiposHc.nombre}"></span>
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-5">
                    <label > Peso Bruto (Kg)</label>
                    <input th:field="*{cantidad}" class="form-control" type="text" placeholder="Ingresar kilogramos" autocomplete="off" required>
                </div>
                <div class="col-md-5">
                    <label > Cantidad Neta</label>
                    <input th:field="*{cantidadNeta}" class="form-control" type="text" placeholder="Cantidad" autocomplete="off" required>
                </div>

            </div>
        </div>
        <button type="submit" class="btn btn-primary" >REGISTRAR</button>
    </form>
</div>
</body>
</html>