<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>LISTA DE USUARIOS</title>
</head>
<body>
    <div class="container">
        <table class="table table-bordered" th:fragment="tablaUsuarios" id="tablaUsuarios">
            <thead class="thead-dark" style="background-color: #cde49f">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Correo</th>
                <th scope="col">Rol</th>
                <th scope="col">Unidad Operativa</th>
                <th scope="col">Usuario</th>
                <th scope="col">Estado</th>
                <th scope="col">Serie Compra</th>
            </tr>
            </thead>
            <tbody id="listUsuarios">
                <tr th:each="usuario : ${usuarios}" >
                    <th scope="row" th:text="*{usuario.nombre}"></th>
                    <td th:text="*{usuario.telefono}"></td>
                    <td th:text="*{usuario.correo}"></td>
                    <td th:text="*{usuario.id_rol.descripcion}"></td>
                    <td th:text="*{usuario.cod_uniOpe.nom_uniOpe}"></td>
                    <td th:text="*{usuario.usua}"></td>
                    <td th:text="*{usuario.id_estado.descripcion}"></td>
                    <td th:text="*{usuario.serie_compra}"></td>
                    <td>
                        <a class="btn btn-info" th:href="@{/auth/editUsuario/{id}(id=${usuario.id_usuario})}">Editar</a>
                        <a class="btn btn-danger" th:href="@{/auth/eliminarUsuario/{id}(id=${usuario.id_usuario})}">Eliminar</a>
                        <a class="btn btn-danger" th:href="@{/auth/compraUsuario/{id}(id=${usuario.id_usuario})}">Comprar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>