<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/head :: head">
    <meta charset="UTF-8">
    <title>LISTA DE USUARIOS</title>
</head>
<body>
    <div class="container">
        <table class="table table-bordered" th:fragment="tablaUsuarios" id="tablaUsuarios">
            <thead class="thead-dark" style="background-color: #cde49f">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Correo</th>
                <th scope="col">Rol</th>
                <th scope="col">Unidad Operativa</th>
                <th scope="col">Usuario</th>
                <th scope="col">Estado</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <th scope="row" th:text="*{usuario.nombre}"></th>
                    <td th:text="*{usuario.telefono}"></td>
                    <td th:text="*{usuario.correo}"></td>
                    <td th:text="*{usuario.id_rol.descripcion}"></td>
                    <td th:text="*{usuario.id_UniOpe}"></td>
                    <td th:text="*{usuario.usua}"></td>
                    <td th:text="*{usuario.id_estado.descripcion}"></td>
                    <td>
                        <a class="btn btn-info" th:href="@{/auth/editUsuario/{id}(id=${usuario.id_usuario})}">Editar</a>
                        <a class="btn btn-danger" th:href="@{/auth/eliminarUsuario/{id}(id=${usuario.id_usuario})}">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>