<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/head :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <table class="table table-bordered" th:fragment="tablaProductor" id="tablaProductor" >
        <thead class="thead-light" style="background-color: #cde49f">
        <tr>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">DNI</th>
            <th scope="col">Nombre del predio</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Unidad Operativa</th>
        </tr>
        </thead>
        <tbody id="listProductor">
        </tbody>
        <tfoot id="footP">
        </tfoot>
    </table>
</div>
</body>
</html>