<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js" integrity="sha256-MCmDSoIMecFUw3f1LicZ/D/yonYAoHrgiep/3pCH9rw="
            crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->

    <link type="text/css" rel="stylesheet" th:href="@{/css/loginStyles.css}">
    <title>Login</title>
</head>
<body>
        <img th:src="@{/img/GetLogoImage.png}" class="sidenav">

        <div class="main">
            <div class="col-md-6 col-sm-12">
                <div class="login-form">
                    <span th:if="${param.error}" style="color: red"> Datos incorrectos</span>
                    <form id="loginform" th:action="@{/auth/login-post}" method="post">
                        <div class="form-group">
                            <label>Usuario</label>
                            <input type="text" class="form-control" placeholder="Usuario" name="usua">
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" class="form-control" placeholder="Contraseña" name="passw">
                        </div>
                        <button type="submit" class="btn" style="background-color: #7bb44d">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
</body>
</html>