<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" th:href="@{/css/menuStyles.css}">
    <link  th:if="${listP!=null}" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">

    <title>MENU</title>
</head>
<body class="home">
<div class="container-fluid display-table">
    <div class="row display-table-row">
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
            <div class="logo">
                <h1 style="color: white">
                    ENACO
                </h1>
            </div>
            <div class="navi">
                <ul>
                    <li class="active"><a th:href="@{/private/index}"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">INICIO</span></a></li>
                    <li>
                        <a th:if="${session.usuario.getId_rol().getId_rol()==1}"
                                th:href="@{/auth/listaUsuarios}">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="hidden-xs hidden-sm">Usuarios</span>
                        </a>
                    </li>
                    <li>
                        <a th:if="${session.usuario.getId_rol().getId_rol()==1}"
                                th:href="@{/auth/listProductor}">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="hidden-xs hidden-sm">Productores</span>
                        </a>
                    </li>
                    <li>
                        <a th:if="${session.usuario.getId_rol().getId_rol()==1}"
                                th:href="@{/auth/listCostoHC}">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            <span class="hidden-xs hidden-sm">Costo Hoja de Coca</span>
                        </a>
                    </li>
                    <li>
                        <a th:if="${session.usuario.getId_rol().getId_rol()==1}"
                                th:href="@{/auth/listSucursal}">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <span class="hidden-xs hidden-sm">Sucursal</span>
                        </a>
                    </li>
                    <li>
                        <a th:if="${session.usuario.getId_rol().getId_rol()==1}"
                                th:href="@{/auth/listAgencia}">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <span class="hidden-xs hidden-sm">Agencia</span>
                        </a>
                    </li>
                    <li>
                        <a th:if="${session.usuario.getId_rol().getId_rol()==1}"
                                th:href="@{/auth/listUnidadOpe}">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <span class="hidden-xs hidden-sm">Unidad Operativa</span>
                        </a>
                    </li>
                    <li>
                        <a th:if="${session.usuario.getId_rol().getId_rol()==1}"
                                th:href="@{/auth/listTipoHc}">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <span class="hidden-xs hidden-sm">Tipo Hoja de Coca</span>
                        </a>
                    </li>
                    <li>
                        <a th:if="${session.usuario.getId_rol().getId_rol()==3}"
                           th:href="@{/auth/compraUsuario/{id}(id=${session.usuario.getId_usuario()})}">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <span class="hidden-xs hidden-sm">Realizar Compra</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 col-sm-11 display-table-cell v-align">
            <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
            <div class="row">
                <header>
                    <div class="col-md-7">
                        <nav class="navbar-default pull-left">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                        </nav>
                        <div class="search hidden-xs hidden-sm" th:if="${list!=null}" >
                            <input type="search" class="form-control rounded" id="formUsuario" placeholder="Buscar usuario" aria-label="Search"
                                   aria-describedby="search-addon" />
                        </div>
                        <div class="search hidden-xs hidden-sm" th:if="${listP!=null}" >
                            <input type="search" class="form-control rounded" id="formProductor" placeholder="Buscar Productor" aria-label="Search"
                                   aria-describedby="search-addon" />
                        </div>
                        <div class="search hidden-xs hidden-sm" th:if="${listC!=null}" >
                            <input type="search" class="form-control rounded" id="formCosto" aria-label="Search" placeholder="Buscar Hoja de Coca"
                                   aria-describedby="search-addon" />
                        </div>
                        <div class="search hidden-xs hidden-sm" th:if="${listU!=null}" >
                        <input type="search" class="form-control rounded" id="formUnidadOpe" aria-label="Search" placeholder="Buscar Hoja de Coca"
                               aria-describedby="search-addon" />
                        </div>
                        <div class="search hidden-xs hidden-sm" th:if="${listT!=null}" >
                            <input type="search" class="form-control rounded" id="formTipoHc" aria-label="Search" placeholder="Buscar Hoja de Coca"
                                   aria-describedby="search-addon" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="header-rightside">
                            <ul class="list-inline header-top pull-right">
                                <li>
                                    <form th:action="@{/logout}" method="post">
                                        <button type="submit" class="add-project" data-toggle="modal"  style="background-color: #7bb44d">Cerrar sesión</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
            </div>
            <div class="user-dashboard" th:if="${session.usuario!=null}">
                <h1>Bienvenido, <span th:text="${session.usuario.nombre}" ></span></h1>

                    <!--LISTAS-->
                <div class="row" th:if="${list!=null}">
                    <div class="row" style="padding-bottom: 5px">
                            <a class="btn btn-success"
                               th:if="${session.usuario.getId_rol().getId_rol()==1}"
                               th:href="@{/auth/registrar}">Agregar Usuario</a>
                    </div>
                    <div class="row">
                    <table th:replace="views/listUsuario :: tablaUsuarios"></table>
                    </div>
                </div>
                <div class="row" th:if="${listP!=null}">
                    <table th:replace="views/listProdructor :: tablaProductor" ></table>
                </div>
                <div class="row" th:if="${listC!=null}">
                    <table th:replace="views/listCostoHC :: tablaCostoHC"></table>
                </div>
                <div class="row" th:if="${listA!=null}">
                    <table th:replace="views/listAgencia :: tablaAgencia"></table>
                </div>
                <div class="row" th:if="${listS!=null}">
                    <table th:replace="views/listSucursal :: tablaSucursal"></table>
                </div>
                <div class="row" th:if="${listU!=null}">
                    <table th:replace="views/listUnidadOpe :: tablaUnidadOpe"></table>
                </div>
                <div class="row" th:if="${listT!=null}">
                    <table th:replace="views/listTipoHc :: tablaTipoHc"></table>
                </div>
                <!-- FORMS -->
                <div class="row" th:if="${r!=null}">
                    <div th:replace="registro :: registro"></div>
                </div>
                <div class="row" th:if="${e!=null}">
                    <div th:replace="registro :: registro"></div>
                </div>
                <div class="row" th:if="${c!=null}">
                    <div th:replace="compra :: compra"></div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <script th:if="${r!=null}" th:src="@{/js/listsUnidadOpe.js}"></script>
    <script th:if="${e!=null}" th:src="@{/js/listsUnidadOpe.js}"></script>

    <script th:if="${list!=null}"th:src="@{/js/listsUsuarios.js}"></script>
    <script th:if="${listP!=null}" th:src="@{/js/listsProductores.js}"></script>
    <script th:if="${listC!=null}" th:src="@{/js/costoHc.js}"></script>
    <script th:if="${listU!=null}" th:src="@{/js/listsUnidadOpe.js}"></script>
    <script th:if="${listT!=null}" th:src="@{/js/listTipoHc.js}"></script>

    <script th:if="${c!=null}" th:src="@{/js/BusquedaCompra.js}"></script>
    <script th:if="${c!=null}" th:src="@{/js/listsUnidadOpe.js}"></script>
    <script th:if="${c!=null}" th:src="@{/js/costoHc.js}"></script>

</body>
</html>