<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/head :: head">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">  <h1>BIENVENIDO</h1></div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div>
                    <form th:action="@{/logout}" method="post">
                        <button  type="submit" class="btn btn-primary mt-3" style="background-color: #7bb44d">Cerrar sesión</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-4"><h4 th:if="${session.usuario!=null}" >Usuario: <span th:text="${session.usuario.nombre}" ></span></h4></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></h3></div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a class="btn btn-primary btn-lg" style="background-color: #7bb44d;color: black;"
                   th:if="${session.usuario.getId_rol().getId_rol()==1}"
                   th:href="@{/auth/registrar}">Crear Usuario</a>

                <a  class="btn btn-secondary btn-lg" style="background-color: #7bb44d; color: black;"
                    th:href="@{/auth/listaUsuarios}">Lista Usuarios</a>

                <a class="btn btn-secondary btn-lg" style="background-color: #7bb44d;color: black;"
                   th:href="@{/auth/listProductor}">Productores</a>

                <a  class="btn btn-secondary btn-lg" style="background-color: #7bb44d; color: black;"
                    th:href="@{/auth/listCostoHC}">Costo Hoja de Coca</a>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" th:if="${list!=null}">
            <table th:replace="views/listUsuario :: tablaUsuarios"></table>
        </div>
        <div class="row" th:if="${listP!=null}">
            <table th:replace="views/listProdructor :: tablaProductor"></table>
        </div>
        <div class="row" th:if="${listC!=null}">
            <table th:replace="views/listCostoHC :: tablaCostoHC"></table>
        </div>
    </div>
</body>
</html>