<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Registro</title>
</head>
<body>
<div th:fragment="registro">
                <div class="header" th:if="${r!=null}">
                    <h1> AGREGAR USUARIO</h1>
                </div>
                <div class="header" th:if="${e!=null}">
                    <h1> Editar USUARIO</h1>
                </div>
                <div th:if="${r!=null}">
                    <form  th:action="@{/auth/registro}" th:object="${user}" method="post">
                        <div class="form-group">
                            <label > Nombre completo: </label>
                            <input class="form-control" type="text" th:field="*{nombre}" placeholder="Nombre" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label > Celular: </label>
                            <input class="form-control" type="text" th:field="*{telefono}" placeholder="Telefono" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label > Correo electronico: </label>
                            <input class="form-control" type="text" th:field="*{correo}" placeholder="Correo" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label > Rol: </label>
                            <select class="form-control" th:field="*{id_rol.id_rol}">
                                <option value="1">Administrador</option>
                                <option value="2">Supervisor</option>
                                <option value="3">Operador</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label > Unidad Operativa: </label>
                            <div class="row">
                                <div class="col-md-4">
                                <select class="form-control" th:field="*{cod_uniOpe}" id="selectUnidadOpe">
                                    <option th:each="unidadesOpe : ${unidadesOpe}" th:value="${unidadesOpe.cod_uniOpe}">
                                        <span th:text="${unidadesOpe.cod_uniOpe}"></span>---<span th:text="${unidadesOpe .nom_uniOpe}"></span>
                                    </option>
                                </select>
                            </div>
                                <div class="col-md-3">
                                    <input type="search" class="form-control rounded" id="formUnidadOpe" placeholder="Buscar unidad" aria-label="Search"
                                           aria-describedby="search-addon" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label > Usuario: </label><span th:if="${userExist != null}" style="color: red"> Nombre de usuario ya existente</span>
                            <input class="form-control" type="text" th:field="*{usua}" placeholder="Usuario" required id="usuario" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label > Contraseña: </label>
                            <input class="form-control" type="password" th:field="*{passw}" placeholder="Password" required autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label > Serie de compra: </label>
                            <input class="form-control" type="text" th:field="*{serie_compra}" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label > Estado: </label>
                            <select class="form-control" th:field="*{id_estado.id_estado}">
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                                <option value="3">Vacaciones</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
                <div th:if="${e!=null}">
                    <form th:action="@{/auth/update/{id}(id=${user.id_usuario})}" th:object="${user}" method="post">
                        <div class="form-group">
                            <label > Nombre completo: </label>
                            <input class="form-control" type="text" th:field="*{nombre}" placeholder="Nombre" >
                        </div>
                        <div class="form-group">
                            <label > Celular: </label>
                            <input class="form-control" type="text" th:field="*{telefono}" placeholder="Telefono" >
                        </div>
                        <div class="form-group">
                            <label > Correo electronico: </label>
                            <input class="form-control" type="text" th:field="*{correo}" placeholder="Correo" >
                        </div>
                        <div class="form-group">
                            <label > Rol: </label>
                            <select class="form-control" th:field="*{id_rol.id_rol}">
                                <option value="1">Administrador</option>
                                <option value="2">Supervisor</option>
                                <option value="3">Operador</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label > Unidad Operativa: </label>
                            <div class="row"><div class="col-md-4">
                                <select class="form-control" th:field="*{cod_uniOpe}" id="selectUnidadOpe">
                                    <option th:each="unidadesOpe : ${unidadesOpe}" th:value="${unidadesOpe.cod_uniOpe}">
                                        <span th:text="${unidadesOpe.cod_uniOpe}"></span>---<span th:text="${unidadesOpe .nom_uniOpe}"></span>
                                    </option>
                                </select>
                            </div>
                                <div class="col-md-3">
                                    <input type="search" class="form-control rounded"id="formUnidadOpe" placeholder="Buscar unidad" aria-label="Search"
                                           aria-describedby="search-addon" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label > Usuario: </label><span th:if="${userExist != null}" style="color: red"> Nombre de usuario ya existente</span>
                            <input class="form-control" type="text" th:field="*{usua}" placeholder="Usuario" required id="usuario">
                        </div>
                        <div class="form-group">
                            <label > Contraseña: </label>
                            <input class="form-control" type="password" th:field="*{passw}" placeholder="Password" >
                        </div>
                        <div class="form-group">
                            <label > Serie de compra: </label>
                            <input class="form-control" type="text" th:field="*{serie_compra}">
                        </div>
                        <div class="form-group">
                            <label > Estado: </label>
                            <select class="form-control" th:field="*{id_estado.id_estado}">
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                                <option value="3">Vacaciones</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </form>
                </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>